/* body {
  background: #fff;
} */

/* .content {
  margin: auto;
  padding: 10px;
  text-align: center;
} */

/* td {
  text-align: center;
  padding: 0px;
  margin: 0px;
  text-align: center;
} */

/* tr {
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 20px;
  vertical-align: top;
} */



/* .btn:hover {
  border: 1px solid red;
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  z-index: 10;
} */

nav{
  background-color: rgb(55, 162, 197);
}

a{
  color: aliceblue;
}

.navbar-inverse .navbar-nav>li>a {
  color: aliceblue;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color: black
}